.table {
  display: flex;
  flex-flow:column wrap;
  border: 1px solid #A5A5A5;
  border-radius: 0.3em;
}

.table div {
  /* So that all paddings, borders etc. will not count in 100%. */
  box-sizing: border-box!important;
}

.table .cell-container {
  flex-flow: row wrap;
  flex-grow: 1;
  display: flex;
}

.table .t-head {
  font-weight: bold;
}

.table .t-cell {
  border-right: 1px solid #A5A5A5;
  /* All items same size, expand as much as possible */
  flex: 1 1 0;
}

.table .t-row {
  border-bottom: 1px solid #A5A5A5;
}

.table .t-row:last-child {
  /* Remove border from the last row and use the table border */
  border-bottom: 0;
}

.table .t-cell:last-child {
  /* Remove border from the last cell and use the table border */
  border-right: 0;
}

.table .t-body {
  display:flex;
  flex-flow:column wrap;
}
